<p>
  avatars works!
</p>

<div class="avatars">
  <div class="avatar" *ngFor="let user of users">
    <img src="{{ user.avatar }}" alt="avatar">
  </div>
</div>

<div class="avatars">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
  <img src="http://www.fillmurray.com/100/100" alt="pic">
</div>
