.avatars, .list {
  display: flex;
  flex-wrap: wrap;
}

.avatar, .followerAvatar {
  width: 100px;
  margin: 5px;
}

.avatar:hover {
  border: 3px solid blue;
}

.card img {
  width: 100%;
}

.details {
  left: 40%;
  width: 30vw;
}

.followers, .details {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 80vw;
  padding: 10px;
  background-color: #FF9C33;
  border-radius: 25px;
}

.followerBkgrd, .detailBkgrd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
}

ul {
  list-style-type: none;
}
